# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Python static code analysis
    - name: wemake-python-styleguide
      uses: wemake-services/wemake-python-styleguide@0.14.0
      with:
        # How would you like the results to be displayed?
        reporter: 'github-pr-review'
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}

    # Shell script static code analysis
    - name: Run shellcheck with reviewdog
      uses: reviewdog/action-shellcheck@v1.0.0
      with:
        # GITHUB_TOKEN.
        github_token: ${{ secrets.github_token }}
        # Report level for reviewdog [info,warning,error]
        level: info
        # Reporter of reviewdog command [github-pr-check,github-pr-review].
        reporter: 'github-pr-review'
        # Base directory to run shellcheck. Same as `[path]` of `find` command.
        path: './scripts/*'
        # File patterns of target files. Same as `-name [pattern]` of `find` command.
        pattern: '*'
        # Exclude patterns of target files. Same as `-not -path [exclude]` of `find` command.
        exclude: 'scripts/configure'
      if: always()

